@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato);

*{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	/*max-width:2560px;
	min-width: 1024px;*/
	width:100%;
}

.wrapper{}

.mobile-menu{
display: none;}

header{
	height:auto;
	background-color:#FFF;
	position:relative;}

	#header-img{
				max-height:150px;
				padding: 15px;
			}
.bounce-in-top {
	-webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

	#top-right-header{
	display: inline-flex;
	-webkit-display:inline-flex;
    padding:2%;
	}

	/*Login | Sign up*/
#login{
margin-left: 4%;
text-decoration: none;
font-size:16px;
font-family: 'lato', 'sans-serif';
color: #c4c4c4;}

.login-form{
  width:400px;
  height:auto;
  position:absolute;
  padding:10px 25px;
  background:#eee;
  left: -50%;
   top: 450%;
  transform:translate(-50%, -50%);
  border-bottom: 4px solid gray;
  border-radius:5px;
  z-index:auto;
  display: none;
}

.login-avatar{
  width:100px;
  height:125px;
  position:relative;
  margin-top:75px;
  margin: 0 auto;
  margin-top: 75px;
  border-radius:100px;
}

.login-avatar img{
    height:150px;
    overflow:hidden;
    position: relative;
    top: -20%;
    right: 10%;
}

.form{
  width:100%;
  position:relative;
  margin:25px auto;
}
.input{
  width:100%;
  height:50px;
  position:relative;
  margin: 15px auto;
}

input[type="text"],
input[type="password"]{
  width:100%;
  height:50px;
  position:relative;
  outline:none;
  border:2px solid #ddd;
  border-radius:5px;
  font-size:16px;
  font-family:'sans-serif', 'open sans';
  color:gray;
}

.lgn-icons{
  position:absolute;
  color:gray;
  font-size:20px;
  top:16px;
  right:10px;
}

input[type="text"]:focus,
input[type="password"]:focus{
  border: 2px solid #0Ac986;
}

input[type="submit"]{
  width:100%; 
  height:50px; 
  background:#0Ac986;
  font-family: 'open sans', 'sans-serif';
  font-size:16px;
  color:#fff;
  outline:none;
  border-radius:5px;
  cursor:pointer;
  border:0px;
}


.lgn-redirect{
  float:right;
  color:#0Ac986;
  font-size:14px;
  text-decoration:none;
  font-family:'open sans', 'sans-serif';
  margin-bottom:15px;
}

.signup-redirect{
  margin-top:15px;
  color:skyblue;
  font-size:14px;
  text-decoration:none;
  font-family:'open sans', 'sans-serif';
  position: absolute;
  right: 32%;
  display: none;
}

.error-msg, .error-msg1{
  font-size:14px;
  font-family: 'Open sans', 'sans-serif';
  color:red;
  padding: 5px;
  margin-top:10px;
  /*z-index:7;*/
  display:none;
}

/*.success-lgn{
  width:400px;
  height:auto;
  position:absolute;
  padding:10px 25px;
  background:#eee;
  left:50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
  border-bottom: 4px solid gray;
  border-radius:5px;
  z-index:auto;
  display: none; 
}*/

.error-lgn{ position:relative;
  animation: shake 0.5s;
}

@keyframes shake{
  0%, 100%{
    left:0px;
  }
  20%, 80%{
    left:-15px;
  }
  40%, 60%{ 
    left:15px;
  }
 
}
		/*Search button*/
#signup{
    text-decoration: none;
	font-size:16px;
	font-family: 'lato', 'sans-serif';
	color: #c4c4c4;
	margin-right: 4%;
}

	#search-area{
    display: inline-flex;
    -webkit display: flex;
	}
	#search-area input{
		font-size: 1em;
		border: 1px solid #ccc;
		border-radius: 2px;
		/*display: none;*/
	}
	#search-area button{
		font-size:1.5em;
		border:0px none;
		background:transparent;
		color: #000000;
		cursor: pointer;
	}

	.user-info{font-size:1.5em;}	
		/*Nav menu
/********************************************/

#nav-section{
/*	border-top:3px solid #673AB7;
	background-color:#5d5d62c9;*/
-webkit-box-shadow: 0px 4px 12px -2px rgba(191,185,191,1);
-moz-box-shadow: 0px 4px 12px -2px rgba(191,185,191,1);
box-shadow: 0px 4px 12px -2px rgba(191,185,191,1);
}
#top-nav{
	background-color:#990;
	
}
.main-menu{
    margin-left: 2.5%;
    padding: 10px;
}

ul li {
  overflow: hidden;
  max-width: 100%;
  display: inline-block;
  content:left;
  padding:10px;
  text-align:center;
}

ul li a {
  	color: #673AB7;
  	text-decoration: none;
  	overflow: hidden;
  	font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
}

a:hover{color:rgba(204,204,51,0.9);
	transition:0.1s;}

.arrow{
	font-size: 1em;
	overflow: hidden;
}

.social-media {
	display: inline;
	line-height: 1;
	font:normal;
	font:path/to/font-awesome/css/font-awesome.min.css;
	font-size: inherit;
	text-rendering: auto;
}

		.fa:hover{transition:0.5s;
			color: #465243;
			box-shadow: 2px, #000000;
					}

	/*dropdown menu*/

#submenu{
    position: absolute;
    display: none; 
    background-color: #ccc;
   /* padding: 2%;*/
    height: auto;
    width: 20%;
}
#shop:hover #submenu{
  display:block;}
#submenu a {
text-align: justify;
padding:2%;}
#submenu li{display: block;
	border-bottom: 1px solid #FFF;}
#submenu li:hover{background-color:#3f51b5bf;}
#submenu a:hover{
	color: #fff;
text-decoration: none;}


			/*Video*/
/********************************************/

.banner-inner{
/*width: 100%;*/
height: auto;
margin-bottom:-10px;
}
iframe{
	width: 100%;
	height: 1000px;
	volume:muted;
}
.banner-inner img{}

/**************S E C T I O N********************************/

#slide{
	
  background-color: #000000;
}
.mainbox{
	position:relative;

}
.one_third img{
	filter: none;
	-webkit-filter: grayscale(0);
    max-width: 100%;
    min-width: 320px;
     height:100vh;
}
.one_third img:hover{
	filter: grayscale(1);
	-webkit-filter: grayscale(1);		
}
.bounce-top:hover {
	-webkit-animation: bounce-top 0.9s both;
	animation: bounce-top 0.9s both;
}
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

.mask{
	width: 80%;
	display: block;
 	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 5%;
    background-color: #607d8bd9;
    -webkit-box-shadow: 0px 10px 22px -8px rgba(13,13,13,1);
	-moz-box-shadow: 0px 10px 22px -8px rgba(13,13,13,1);
	box-shadow: 0px 10px 22px -8px rgba(13,13,13,1);
 }
.mask:hover{background-color: #607d8bf2;}
.mask h1{font-weight: bold;}
.mask p{ 
    margin: 0 0 10px;
    line-height: 1.5em;
    font-weight: 400;
    font-family: 'Lato';}
.info{
    font-family:'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    border: 1px solid #FFF;
    border-radius: 5px;
    padding: 1.75%;
    background-color: #8456d5de;
     text-align: center; 
    /* float: right; */
}






				/*Footer*/
/********************************************/

.footer{padding:2%;
		min-height: 300px;
		background-color: rgba(0,0,0,1);
		}

#hours, #numbers, #quick-links{
	text-align:center;
	color: #337ab7;}
	h5 {
			margin-top:25px;
			text-align:center;
			font-size: 1.5em;
			text-decoration: underline;
			font-family: 'Open Sans', 'sans-serif';
		}
footer p{
	color:#FFF;
	font-size: 1em;
}
footer p a{
	color:#FFF;
	font-size: 1em;
}
#social-media{
	text-align: center;
	font-size:2em;
	color:#FFF;
	padding:1.25%;
}

#copyright{
			font-size: 1em;
			font-family: 'Lato', sans-serif;
			font-weight: lighter;
			color: #607d8b;
			text-align:center;}

#copyright a{color: #607d89;}



/*******************************************************/


				/*CONTACT PAGE*/


.section2 {

	background-color: #3333cc;
	width: 100%;
	height: auto;
	display: block;
	padding: 65px;
}

.section2 h3 {
	color:white;
	font-size: 26px;
	font-family: 'Open Sans';
	border-bottom: 1px solid #cccc33;

}

.para h2 {
	color: white;
	font-family: 'Lato', 'sans-serif';
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;

}

.para{
	
	padding:10px;
	margin-bottom:7px;
	margin-top: 20px;
}

.para input {
	border: solid 1px black;
	width: 15%;
	height: 25px;
}

.section2 p {
	display: none;
}

		

		/*contact form info */

	/*	.section2 p {display: none;}*/

		.para p {
			width:15%;
			color:red;
			font:16px;
			border: 1px dotted white;
		}
		
			#success{
				/*width:100%;*/
				height: auto;
				padding: 30px;
				font-size:24px;
				font-weight: bold;
				font-family: 'Open Sans', 'sans-serif';
				margin-top: 10px;
				margin-right: 20px;
				color: black;
				border: 5px solid white;
				border-radius: 5px;
				line-height: 29px;
				text-align: center;

	
			}


			/*end*/


.btn{/*! float: right; */
	background-color:green;
	color:#FFF;
	width: 85px;
	height: 35px;
	margin-right: 500px;
	margin-top:25px;

-webkit-box-shadow: 0px 14px 18px -14px rgba(42,222,69,0.85);
-moz-box-shadow: 0px 14px 18px -14px rgba(42,222,69,0.85);
box-shadow: 0px 14px 18px -14px rgba(42,222,69,0.85);

}


#map{max-width: 100%;
height: auto;}







/*******************************************************/


		/*A B O U T  -  P A G E */


			#about{
				background: url(Images/o233.png);
				background-repeat:no-repeat;
    			background-size:cover;
    			height: auto;
    			/*position: relative;*/
			}

			.about{
				height: 800px;
				position: relative;

			}

			

			.about p {
					width: 560px;
					height: auto;
					padding:80px;
					background-color:#173c9c;
					color: #fff;
					border: 10px solid rgba(17, 74, 246, 0.60);
					font-family: 'Lato', 'sans-serif';
					font-size: 20px;
					line-height: 26px;
					text-align: left;
					position: absolute;
					top:20%;
					left: 26%;
					z-index: -4;

-webkit-box-shadow: -1px 5px 50px 8px rgba(70,121,250,0.52);
-moz-box-shadow: -1px 5px 50px 8px rgba(70,121,250,0.52);
box-shadow: -1px 5px 50px 8px rgba(70,121,250,0.25);
					
				}














			


/*******************************************************/

/*************************************************************/



			/*M  E  D  I  A*/


@media only screen and (max-width:768px){
	body, .wrapper{min-width:290px;
		max-width:768px;
		width:100%;}

header, .banner-inner, #slide, footer{
	width: 100%;}

 #header-img{
 	max-height:-webkit-fill-available;
   margin-right: 15%;
    margin-left: 15%;
    transform: translate(3%, 3%);
 }       
#top-right-header{
    display: none;
}
.searchbox-input{
	display: none;
}
	.mobile-menu{
    font-size: 47px;
    z-index: 1000;
    display: flex;
    align-items: center;
  	justify-content: center;
  	width:100%;
}

#top-nav, .main-menu{
	display:none;
}


	/*.mobile-menu:hover {display:none;}*/
.main-menu:.clicked {display: block;
			height: auto;
			transition:1.2s;
			text-align: center;}
.clicked .main-menu li{
	width:100%;
	left:0;
	transition:1.3s;
		}
.clicked .box-one li:nth-of-type(2){
			 		left: 0;
					transition:1s;
					background: #000000;}
.clicked .box-one li:nth-of-type(2){
			 		left: 0;
					transition:2.5s;
					background: #000000;}
.clicked .box-one li:nth-of-type(3){
			 		left: 0;
					transition:3s;
					background: #000000;}
.clicked .box-one li:nth-of-type(4){
			 		left: 0;
					transition:4.5s;
					background: #000000;}
.clicked .box-one li:nth-of-type(5){
			 		left: 0;
					transition:5.5s;
					background: #000000;}
.clicked .box-one li:nth-of-type(1){
			 		left: 0;
					transition:7s;
					background: #000000;
					}
.clicked .box-one li:hover{transform:skew(20deg);
background-color: #fff;}
			
			/*NAV END*/
iframe{
	height:520px;
}
/*Section*/

/*footer*/
#hours, #numbers, #quick-links{
	display: block;
	justify-content:center;
	vertical-align: center;}



/**********************************************************/
				
					/*ABOUT PAGE*/


			.about{
				height: 600px;
				position: relative;
			}

			

			.about p {
					width: 79%;
					height: 394px;
					/* padding:40px; */
					font-size: 16px;
					line-height: 21px;
					/* position: absolute; */
					 top:0; 
					left: -10%;
				}		


/**********************************************************/

					/*CONTACT PAGE*/



.section2{
	min-width:100%;
	margin:0;
}

#map{
/*	max-width: 100%;*/
}

.para{
	
	padding:10px;
	margin-bottom:7px;
	margin-top: 20px;
}

.para input {
	border: solid 1px black;
	min-width: 45%;
	height: auto;
}


}




@viewport{
    zoom: 1.0;
    width: 320px;
}












